/*******************************
Style Notes
classes:
.card {}
.avatarImage {}
.avatarInfo {}
.avatarName {}
.avatarEmail {}
.avatarLocation {}
.overlayInfo {}
.avatarPhone {}
.avatarAddress {}
.avatarBirthday {}

elements:
  h1
  p
  div
  body
  img

Fonts:
font-family: 'Lato', sans-serif;
  Lato
  400
  700

Colors:
  background-main: #FCFCFC
  background-tile: #FFF
  avatarName: #404A51
  h1: #4A4A4A
  p: #9D9D9D

********************************/



/*******
Main Styles
********/
body {
  background-color: #F9F9F9;
}

/********
Grid layout
*********/

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  column-gap: 3%;
  row-gap: 3%;
}


/*******
Typography
********/
h1 {
  font-family: 'Lato', sans-serif;;
  font-size: 1em;
  font-weight: 700;
  color: #4A4A4A;
}

p {
  font-family: 'Lato', sans-serif;;
  font-size: .75em;
  font-weight: 400;
  color: #9D9D9D;
}

.avatarName {
  font-family: 'Lato', sans-serif;;
  font-size: 1em;
  font-weight: 700;
  color: #404A51;
}
/*******
card layout
********/

.card {
  Background-color: #FFF;
  border: 1px solid lightgray;
  border-radius: 3%;
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarImage {
  border-radius: 50%;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*******
Lightbox
********/

.overlayInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 75px 0px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  border: none;
  background-color: #FFF;
  padding-right: 15px;
}

.hidden {
  display: none;
}

hr {
  border: none;
    margin: 20px 0px;
}

/*******
Tablet Media Queries
********/
@media (min-width: 768px) {

  /*******
  layout
  *******/

  header {
    margin: 5% 5% 0 5%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    column-gap: 3%;
    row-gap: 5%;
    padding-top: 2.5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .card {
    flex-direction: row;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .avatarImage {
    max-width: 30%;
    margin-left: 5%;
  }

  .avatarInfo {
    align-items: flex-start;
    max-width: 60%;
    margin-left: 5%;
  }

  .avatarInfo p {
    margin: 0;
  }

  .avatarName {
    padding-bottom: 2.5%;
  }

  /**********
  Typography
  **********/
  h1 {
    font-size: 1em;
  }

  .avatarEmail, .avatarLocation {
    font-size: .6em;
  }

  .avatarName {
    font-size: .75em;
  }

  .text-container p {
    margin: 0px;
    padding: 5px 0px;
    font-size: .75em;
  }
}
/*******
Desktop Media Queries
********/
